/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 */

/* Core CSS required for components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

body {
    background-color: black;
}

hr {
    height: 3px;
}

.putadex-frame {
    max-width: 450px !important;
    height: 100vh;
}

.putadex-gen-indicator {
    width: 15px;
    height: 15px;
}

.putadex-screen {
    aspect-ratio: 4/3;
    overflow:hidden !important;
    div {
        height: 100%;
        overflow: hidden !important;
    }
    margin-top: 5px;
    margin-bottom: 5px;
}

.putadex-descriptor {
    height: 75px;
    text-align: center;
    padding-top: 25px;
    font-family: 'Orbitron', serif;
    margin-top: 5px;
    margin-bottom: 5px;
}

.putadex-panel-buttons {
    width: 100%;
    ion-col {
        margin:0%;
        padding: 0%;
    }
    margin-top: 5px;
    margin-bottom: 5px;
}